#hotel-header
{
	color: #2de966;
}
#hotel-header span
{
	color: #2889ff;
	font-size: 38px;
}
.alignment
{
	height:300px;
	margin-bottom: 25px;
}
.blink {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.overlayer
{

  width: 100%;
  min-height: 1200px;
  z-index: 1;
  opacity: 0.8;
  background-color: white;
  position: absolute;
  top:0;
}
.pop_up
{

  width: 400px;
  min-height: 142px;
  z-index: 1;
  background-color: grey;
  position: absolute;
  top:80%;
  left:35%;
  border:2px solid purple;
}
#closeBut
{
  margin-left: 318px;
  margin-top: -38px;
}
.pop_up p
{
  text-align:center;
  font-size: 25px;
  color: purple;
}