<section class="wrapper">
   <section class="top-bar">
        <h1 class="heading">WELCOME TO <span>My Insurance</span></h1>
	  <!-- <nav class="top-bar-left">
	    <ul class="menu">
	      <li class="menu-text">
        </li>
	    </ul>
	  </nav> -->
	  <section class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
	       <button class="menu-icon" type="button" data-toggle></button>
	       <article class="title-bar-title">Menu</article>
	   </section>
    </section>
   
  <section class="container">
         <!-- router content appears here -->
    <router-outlet></router-outlet>   
  </section>   
</section>
